.vscode
!*/mosaic_dev/app/tutorials/weather-warning-cid/*

mosaic_dev/*
!mosaic_dev/app
mosaic_dev/app/*
!mosaic_dev/app/tutorials
mosaic_dev/app/tutorials/*
!mosaic_dev/app/tutorials/weather-warning-cid/

scripts/__pycache__/
slides/lecture
slides/CID_Workshop-I.pptx
slides/swd(2013)527-communication.pdf

cid_venv
.ipynb_checkpoints
__pycache__